vs/MerakiAlpha/DesignTimeBuild/.dtbcache.v2
.vs/MerakiAlpha/config/applicationhost.config
.vs/MerakiAlpha/v16/.suo
MerakiAlpha/MerakiAlpha.csproj
MerakiAlpha/MerakiAlpha.csproj.user
MerakiAlpha/Startup.cs
MerakiAlpha/appsettings.json
MerakiAlpha/bin/Debug/net5.0/MerakiAlpha.deps.json
MerakiAlpha/bin/Debug/net5.0/MerakiAlpha.dll
MerakiAlpha/bin/Debug/net5.0/MerakiAlpha.pdb
MerakiAlpha/bin/Debug/net5.0/appsettings.json
MerakiAlpha/bin/Debug/net5.0/ref/MerakiAlpha.dll
MerakiAlpha/obj/Debug/net5.0/MerakiAlpha.assets.cache
MerakiAlpha/obj/Debug/net5.0/MerakiAlpha.csproj.CoreCompileInputs.cache
MerakiAlpha/obj/Debug/net5.0/MerakiAlpha.csproj.FileListAbsolute.txt
MerakiAlpha/obj/Debug/net5.0/MerakiAlpha.csprojAssemblyReference.cache
MerakiAlpha/obj/Debug/net5.0/MerakiAlpha.dll
MerakiAlpha/obj/Debug/net5.0/MerakiAlpha.genruntimeconfig.cache
MerakiAlpha/obj/Debug/net5.0/MerakiAlpha.pdb
MerakiAlpha/obj/Debug/net5.0/ref/MerakiAlpha.dll
MerakiAlpha/obj/MerakiAlpha.csproj.nuget.dgspec.json
MerakiAlpha/obj/MerakiAlpha.csproj.nuget.g.props
MerakiAlpha/obj/project.assets.json
MerakiAlpha/obj/project.nuget.cache